# Токен бота (отправьте /newbot боту @BotFather)
BOT_TOKEN=123456789:ABCDefgh-your-token-here

# API ключ от U-ON Travel CRM
UON_API_KEY=YOUR_UON_API_KEY_HERE

# Ссылка на поддержку
SUPPORT_CHAT_URL=https://t.me/zxcwed

# URL для подключения к Redis (Оставьте пустым или закомментируйте для фоллбэка на память)
# REDIS_URL=redis://localhost:6379/0

# (Опционально) Путь до базы данных SQLite
DB_PATH=lucky_tour.db

# Telegram chat IDs (бот должен быть администратором в этих чатах)
TURKEY_MAIN_CHAT_ID=-1003743821562
TURKEY_SECRET_CHAT_ID=-1000987654321
EGYPT_MAIN_CHAT_ID=-1003794486597
EGYPT_SECRET_CHAT_ID=-1004445556667
